body {
  background-color: #ddad34;
}

#navigation_menu {
  position: absolute;
  top: -16px;
  left: 0px;
  height: 50px;
  width: 100%;
}


#main_content {
  position: absolute;
  width: 50%;
  top: 50px;
}

#navigation_menu ul{
  background-color: #634b0e;
  color: #f0f8ff ;
  padding: 0px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: -4px;
}

ul li a {
  text-decoration: none;
  color: #f0f8ff ;
  padding: 15px;
  display: inline-block;
}

ul li a:hover{
  background-color: #ddad34;
} 

#current_page {
  background-color: #ddad34;
}

#current_page {
  background-color: #ddad34;
}

h1 {
  padding-left: 91px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin: 40px;
  margin-left: 91px;
  width: 180%;
}

th {
  background-color: #634b0e;
  color: #f0f8ff ;
  font-weight: bold;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ddad34;
}

tr:nth-child(odd) {
  background-color: #634b0e;
}

tr a {
  color: #f0f8ff;
}

#home {
   float: right;
}

#home a{
 padding: 1px;
  width: 60px;
  height: 120px;
} 
#back a {
padding: 1px;
  width: 60px;
  height: 120px;
  
}

 #create_customer {
	 background-color: #634b0e;
  color: White;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  left: 13%;
  position: relative;
  margin-bottom: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
 }
 
 #save_customer {
  background-color: #634b0e;
  color: White;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  left: 13%;
  position: relative;
  margin-bottom: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

#save_customer {
  margin-top: 20px;
  width: 80px;
  left: 4px;
  cursor: pointer;
}

input[type="text"] {
  width: 50%;
  height: 20px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 9px;
  margin-top: 3px;
  padding-left: 20px;
}

#customer_form {
  position: relative;
  left: 13%;
}



a {
  text-decoration: none;
}